* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
}

#banner {
  background: linear-gradient(to bottom, rgba(18, 18, 18, 0), #121212),
    url(images/donation13.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#banner h1 {
  font-size: 65px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 40px;
}
#banner p {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
}
.btn {
  text-decoration: none;
  padding: 16px 12px;
  font-size: 20px;
  font-size: 600;
  background-color: #ff5959;
  color: #ffffff;
  border-radius: 5px;
}

/* ------------Donate Today Section------------------ */

#donate-today-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#donate-today {
  width: 50%;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
}
#donate-today h2 {
  font-size: 45px;
  font-weight: 700;
  color: #121212;
  padding: 10px;
}
#donate-today p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #707070;
  margin: 20px auto;
}
.box-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 80px;
}
.grey-box {
  width: 135px;
  height: 123px;
  background-color: #e1d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
#donate-today .grey-box p {
  font-size: 30px;
  font-weight: 700;
  color: #585656;
}
#red-box {
  width: 135px;
  height: 123px;
  background-color: #faabab;
  border: 2px solid #ff5959;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
#red-box p {
  font-size: 30px;
  font-weight: 700;
  color: #ff5959;
}
.input-text {
  border: none;
  width: 100%;
  padding: 20px 10px;
  border-bottom: 2px solid #dadada;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #b3b3b3;
  font-family: "Poppins", sans-serif;
  margin-bottom: 50px;
}

/* -------------Our Donate Plan--------------- */

#our-donate-plan {
  margin-top: 100px;
}
#our-donate-plan h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}
#our-donate-plan p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #707070;
}
.text-center {
  text-align: center;
}
.image-sizing {
  width: 53px;
  height: 53px;
}
.h3-styling {
  margin: 20px 0;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.plan-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 80%;
}
.plan-categories {
  margin-top: 60px;
  margin-left: 10px;
  margin-right: 10px;
  width: 360px;
  padding: 0 20px;
  height: 352px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  text-align: justify;
}
/* ----------creative team---------------- */

#creative-team{
    margin-top: 150px;
    margin-bottom: 170px;
}
#creative-team h2{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 100px;
}

#team-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}
.team-members{
    width: 50%;
    display: flex;  
}
.team-members div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    
}
.team-members h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.team-members h4{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color:#707070;
    margin-bottom: 10px;
}
.team-members p{
    font-size: 16px;
    color: #707070;
    font-family: 'Poppins', sans-serif;
}
.mr-20{
    margin-right: 20px;
}
.ml-20{
    margin-left: 20px;
}
.ml-10{
    margin-left: 10px;
}
.mr-10{
    margin-right: 10px;
}
.member-image{
    width: 300px;
    border-radius: 50%;
    height: 300px;
    /* clip-path: circle(); */
}

/* ---------Get My Updates------------ */

#my-updates {
  margin: 150px 0;
}
#my-updates h1 {
  font-size: 54px;
  font-weight: 700;
}
#my-updates p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #707070;
  margin-top: 30px;
  margin-bottom: 20px;
}
#email-container {
  background-color: #fff4d6;
  width: 60%;
  height: 200px;
  margin: 60px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-email {
  background-color: #d9d9d9;
  font-size: 20px;
  text-align: left;
  padding: 17px 10px;
  width: 275px;
  border-radius: 5px;
  border-style: none;
}

/* -----------footer------------- */
footer {
  margin-top: 60px;
  height: 177px;
  width: 100%;
  background-color: #0b0d17;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer h3 {
  color: #ff5959;
  font-family: "Lobster", cursive;
  font-size: 36px;
  font-weight: 400;
}
footer p {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #d9dbe1;
}
