*{
    margin: 0;
    padding: 0;
}
body{
     font-family: 'Inter', sans-serif;
}

#banner{
    background: linear-gradient(to bottom, rgba(18,18,18,0), #121212), url(images/donation13.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#banner h1{
    font-size: 65px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 40px;
}
#banner p{
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
}
.btn{
    text-decoration: none;
    padding: 16px 12px;
    font-size: 20px;
    font-size: 600;
    background-color: #FF5959;
    color: #ffffff;
    border-radius: 5px;
}
/* ------------Donate Today Section------------------ */
#donate-today-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#donate-today{
    /* margin: 0 auto; */
    width: 50%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}
#donate-today h2{
    font-size: 45px;
    font-weight: 700;
    color: #121212;
    padding: 10px ;
}
#donate-today p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #707070;
    /* width: 100%; */
    margin: 20px auto;
}
.box-container{
    display: flex;
    justify-content: space-between;
    /* width: 50%; */
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 80px;
}
.grey-box{
    width: 135px;
    height: 123px;
    background-color: #e1d9d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#donate-today .grey-box p{
    font-size: 30px;
    font-weight:700;
    color: #585656;
}
#red-box {
    width: 135px;
    height: 123px;
    background-color: #faabab;
    border: 2px solid #FF5959;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}
#red-box p{
    font-size: 30px;
    font-weight:700;
    color: #FF5959;
}
input{
    border: none;
    width: 100%;
    padding: 20px 10px;
    border-bottom: 2px solid #DADADA;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #B3B3B3;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
}